// Accordions
.accordion {
  input:checked ~,
  &[open] {
    & .accordion-header > {
      .icon:first-child {
        transform: rotate(90deg);
      }
    }

    & .accordion-body {
      max-height: 50rem;
    }
  }

  .accordion-header {
    display: block;
    padding: $unit-2 $unit-3;

    .icon {
      transition: transform 0.5s;
    }
  }

  .accordion-header:hover {
    background-color: $secondary-color;
    border-radius: $unit-h;
    transition: ease-in-out 0.25s;
  }

  .accordion-body {
    margin-bottom: $layout-spacing;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  ul {
    margin-left: $unit-3;
  }
}

// Remove default details marker in Webkit
summary.accordion-header {
  &::-webkit-details-marker {
    display: none;
  }
}
